<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <title>Markdown Preview</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/github.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
</head>
<body style="margin: 0 auto; max-width: 882px; padding: 32px;">
  <div class="markdown-body">
    <div id="content"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="/markdown-preview-websocket.js"></script>
  <script type="text/javascript">
    connectMarkdownPreview(({ markdown }) => {
      document.getElementById('content').innerHTML = marked(markdown);
      document.querySelectorAll('pre code').forEach(block => hljs.highlightBlock(block));
    });
  </script>
</body>
</html>
