name: release

on:
  workflow_dispatch:
    inputs:
      bump_type:
        required: true
        description: 'Bump type'
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      id-token: write
    steps:
      - uses: Kesin11/actions-timeline@v2
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # This setting is required to push contents and tags by git for main branch
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Update npm
        run: npm install -g npm@latest
      - name: Show environment
        run: set -x; pwd; ls -la; node -v; npm -v;

      # Check
      - name: install packages
        run: npm ci
      - name: lint
        run: npm run lint
      - name: test
        run: npm test
      - name: build
        run: npm run build

      # Release
      - name: Setup Git
        run: |
          git config user.name "mryhryki"
          git config user.email "mryhryki@gmail.com"
      - name: Update package version
        run: |
          npm version ${{ github.event.inputs.bump_type }}
          echo VERSION="v$(cat package.json | jq -r '.version')" >> "${GITHUB_ENV}"
      - name: Publish to npmjs.com
        run: |
          npm run build
          npm publish
      - name: Push tag to GitHub
        run: |
          git push
          git push --tags
      - name: Create Release to GitHub
        run: gh release create "${VERSION}" --generate-notes
        env:
          # This setting is required to push contents and tags by git for main branch
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
